.container{
    height: 100vh;
    width: 100vw;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(33,37,41);
}

.content{
    display: flex;
    width: 100%;
    margin: 0 20px;
}

#navbarNav{
    justify-self: end;
}

.navbar-brand{
    margin-left: 18%;
}


button{
    align-self: flex-end;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(33,37,41);
    color: white;
    flex-direction: column;
    margin-right: 1%;
    margin-left: 1%;
}

.links{
    display: flex;
    gap: 30px;
}

.pokedex{
    height: 50%;
    width: 100%;
    background-color: azure;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 25px;
    padding-top: 3%;
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: yellow!important;
    margin-left: 38%;
}

.type-pokemon{
    width: 41px;
    border-radius: 50px;
    padding: 10px;
    margin: 0 auto;
}

.description{
    height: auto;
    width: 100%;
    background-color: azure;
}

.info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
}

#white{
    color: lightslategray;
}

.status{

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 25px;
    padding-top: 3%;
}

.img{
    display: flex;
    justify-content: center;
    background-color: lightgray;
    border-radius: 2%;
    width: 80%;
    margin: 0 auto;
}

.attributes{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    font-family: "Hind", sans-serif;
    font-size: 20px;
    flex-direction: column;
}

#description{
    width: 80%;
}

.stats{
    width: 80%;
    height: 50%;
    background-color: rgb(67, 103, 171);
    border-radius: 1%;
    display: grid;
    grid-template-columns: 15rem 10rem;
    grid-template-rows: repeat(3, 1fr);
    /* padding-left: 15px; */
    padding-top: 15px;
    justify-content: center;

}

.list{
    display: flex;
    flex-direction: column;
}

.name{
    color: white;
}

.graphic{
    width: 80%;
    height: 50%;
    margin: 0 auto;
}

.type{
    display: flex;
    flex-direction: column;
    font-size: 22px;
    margin-left: 50px;
}

.hypa{
    list-style-type: none;
    text-align: center;
    margin-top: 15px;
}

#electric{
    background-color: #f7de3f;
    width: 120px;
    border-radius: 5px;
}

#tierra{
    background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
    width: 120px;
    border-radius: 5px;
}